body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  transition: background 0.2s;
  background: #fdd231;
}

.container {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: -80px;
}

.title {
  font-size: 36px;
  margin: 40px 0 30px 0;
  font-weight: bold;
  display: flex;
}

.title > div {
  margin-right: 20px;
}

.title > a {
  cursor: pointer;
}

.shortcutContainer {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  font-size: 36px;
}

.key {
  padding: 8px 20px;
  border-radius: 4px;
  background-color: #121212;
  color: #e6e6e6;
}

.shortcutContainer span {
  margin: 0 12px;
}

.commandContainer {
  background: #121212;
  width: 360px;
  border-radius: 4px;
  padding: 30px 20px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.8);
}

.command {
  display: flex;
  margin-bottom: 6px;
  justify-content: space-between;
}

.command > div > span {
  font-size: 16px;
  color: rgb(230, 230, 230);
  display: block;
  margin-bottom: 8px;
}

.command > div > span:last-child {
  font-size: 12px;
  color: rgb(230, 230, 230);
}

.key-new {
  background: #292929;
}

.commandKey {
  display: flex;
  align-items: center;
  margin-right: 20px;
  height: 30px;
}

.commandNewContainer {
  margin-bottom: 40px;
}

.commandNewContainer:last-child {
  margin-bottom: 0;
}

.commandNewContainer button {
  border-radius: 4px;
  border: none;
  padding: 4px 12px;
  margin-right: 10px;
  background-color: #292929;
  color: #e6e6e6;
  cursor: pointer;
}

.commandNewContainer button:hover {
  background-color: #202020;
}

.commandKey span {
  margin: 8px;
  color: white;
}

.commandKey div {
  padding: 6px 12px;
  font-size: 14px;
}
